<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title mt-2" id="offcanvasExampleLabel">Mes dossiers</h5>
        <button type="button" class="btn-close mt-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group">
            <a href="{{ path('app_messages') }}" class="list-group-item list-group-item-action">Acceuil</a>
            <a href="{{ path('app_messages_received') }}" class="list-group-item list-group-item-action ">Boîte de Réception</a>
            <a href="{{ path('app_messages_sent') }}" class="list-group-item list-group-item-action ">Eléments envoyés</a>

        </ul>
    </div>
</div>
