{% extends 'base.html.twig' %}

{% block title %}Edit Professions{% endblock %}

{% block body %}
    <h1>Edit Professions</h1>

    {{ include('professions/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_professions_index') }}">back to list</a>

    {{ include('professions/_delete_form.html.twig') }}
{% endblock %}
