<form method="post" action="{{ path('app_scolarites1_delete', {'id': scolarites1.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ scolarites1.id) }}">
    <button class="btn">Delete</button>
</form>
