<form method="post" action="{{ path('app_enseignements_delete', {'id': enseignement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ enseignement.id) }}">
    <button class="btn">Delete</button>
</form>
