{% extends 'base.html.twig' %}

{% block title %}Edit Caisses{% endblock %}

{% block body %}
    <h1>Edit Caisses</h1>

    {{ include('caisses/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_caisses_index') }}">back to list</a>

    {{ include('caisses/_delete_form.html.twig') }}
{% endblock %}
