{% extends 'base.html.twig' %}

{% block title %}New Caisses{% endblock %}

{% block body %}
    <h1>Create new Caisses</h1>

    {{ include('caisses/_form.html.twig') }}

    <a href="{{ path('app_caisses_index') }}">back to list</a>
{% endblock %}
