{% extends 'base.html.twig' %}

{% block title %}Redoublements1 index{% endblock %}

{% block body %}
    <h1>Redoublements1 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for redoublements1 in redoublements1s %}
            <tr>
                <td>{{ redoublements1.id }}</td>
                <td>
                    <a href="{{ path('app_redoublements1_show', {'id': redoublements1.id}) }}">show</a>
                    <a href="{{ path('app_redoublements1_edit', {'id': redoublements1.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_redoublements1_new') }}">Create new</a>
{% endblock %}
