{% extends 'base.html.twig' %}

{% block title %}New DetailsCaisses{% endblock %}

{% block body %}
    <h1>Create new DetailsCaisses</h1>

    {{ include('details_caisses/_form.html.twig') }}

    <a href="{{ path('app_details_caisses_index') }}">back to list</a>
{% endblock %}
