{% extends 'base.html.twig' %}

{% block title %}New FraisType{% endblock %}

{% block body %}
    <h1>Create new FraisType</h1>

    {{ include('frais_type/_form.html.twig') }}

    <a href="{{ path('app_frais_type_index') }}">back to list</a>
{% endblock %}
