<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
        {% endblock %}

        {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body>
        {% include "_partials/_navMain.html.twig" %}
        {% if app.user and app.user.isVerified == false %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <div class="alert-message">
                <strong class="fst-italic">Votre compte n'est pas activé</strong>,
                <a href="{{ path('app_reverify_email', {'id': app.user.id}) }}" class="fst-italic fw-bolder">
                    <span class="text-muted">renvoyer le lien d'activation</span>
                </a>
            </div>
        </div>
        {% endif %}
        {% include "_partials/_flash.html.twig" %}
        <div class="container-fluid mx-2"> {% block body %}{% endblock %}
        </div>
        {% include "_partials/_navFooter.html.twig" %}
        <script type="module">import 'app';</script>
    </body>

</html>