{% extends 'base.html.twig' %}

{% block title %}New Departs{% endblock %}

{% block body %}
    <h1>Create new Departs</h1>

    {{ include('departs/_form.html.twig') }}

    <a href="{{ path('app_departs_index') }}">back to list</a>
{% endblock %}
