<form method="post" action="{{ path('app_ecole_provenances_delete', {'id': ecole_provenance.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ecole_provenance.id) }}">
    <button class="btn">Delete</button>
</form>
