{% extends 'base.html.twig' %}

{% block title %}New FraisScolarites{% endblock %}

{% block body %}
    <h1>Create new FraisScolarites</h1>

    {{ include('frais_scolarites/_form.html.twig') }}

    <a href="{{ path('app_frais_scolarites_index') }}">back to list</a>
{% endblock %}
