{% extends 'base.html.twig' %}

{% block title %}Redoublements3 index{% endblock %}

{% block body %}
    <h1>Redoublements3 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for redoublements3 in redoublements3s %}
            <tr>
                <td>{{ redoublements3.id }}</td>
                <td>
                    <a href="{{ path('app_redoublements3_show', {'id': redoublements3.id}) }}">show</a>
                    <a href="{{ path('app_redoublements3_edit', {'id': redoublements3.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_redoublements3_new') }}">Create new</a>
{% endblock %}
