{% extends 'base.html.twig' %}

{% block title %}New Redoublements3{% endblock %}

{% block body %}
    <h1>Create new Redoublements3</h1>

    {{ include('redoublements3/_form.html.twig') }}

    <a href="{{ path('app_redoublements3_index') }}">back to list</a>
{% endblock %}
