{% extends 'base.html.twig' %}

{% block title %}New AnneeScolaires{% endblock %}

{% block body %}
    <h1>Create new AnneeScolaires</h1>

    {{ include('annee_scolaires/_form.html.twig') }}

    <a href="{{ path('app_annee_scolaires_index') }}">back to list</a>
{% endblock %}
